<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<a th:href="@{'/cars/'+${modifyCar.get().getId()}}">
    <button class="returnButton">X</button>
</a>
<form th:action="@{'/cars/'+${modifyCar.get().getId()}}" th:method="patch" th:object="${modifyCar}">
    <input type="number" class="readOnlyField" name="id" th:value="${modifyCar.get().getId()}" readonly ><br>
    <input type="text" class="readOnlyField" th:field="*{mark}" placeholder="marka" readonly><br>
    <input type="text" class="readOnlyField" th:field="*{model}" placeholder="model" readonly><br>
    <input type="text" th:field="*{color}" placeholder="kolor"><br>

    <button class="editColor" type="submit">Edytuj</button>
</form>
</body>
</html>