<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<a th:href="@{'/cars/'+${modifyCar.get().getId()}}" style="margin-left: 138px">
    <button type="button">X</button>
</a>
<form th:action="@{'/cars'}" th:method="put" th:object="${modifyCar}">
    <input type="number" name="id" th:value="${modifyCar.get().getId()}" readonly style="background-color: #aaaaaa"><br>
    <input type="text" th:field="*{mark}" placeholder="marka"><br>
    <input type="text" th:field="*{model}" placeholder="model"><br>
    <input type="text" th:field="*{color}" placeholder="kolor"><br>

    <button type="submit" style="background-color: #00008B; color: #FFFFFF">Edytuj</button>
</form>
</body>
</html>