<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>

<table>
    <tr>
        <th>Marka</th>
        <th>Model</th>
        <th>Kolor</th>
    </tr>
    <tr th:object="${car}">
        <td th:text="${car.get().getMark()}"></td>
        <td th:text="${car.get().getModel()}"></td>
        <td th:text="${car.get().getColor()}"></td>
        <td>
            <a th:href="@{'/cars/edit/' + ${car.get().getId()}}">
                <button class="editCar">Edytuj</button>
            </a>
        </td>
        <td>
            <a th:href="@{'/cars/color/' + ${car.get().getId()}}">
                <button class="editColor">Zmień kolor</button>
            </a>
        </td>
        <td>
            <a th:href="@{'/cars/delete/'+${car.get().getId()}}" onclick="return confirm('Czy napewno chcesz usunac pojazd?')">
                <button class="deleteCar">Usuń
                </button>
            </a>
        </td>
        <td>
            <a th:href="@{/cars}">
                <button class="returnButton">X</button>
            </a>
        </td>
    </tr>
</table>
</body>
</html>